---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import Layout from "../../layouts/Layout.astro";
import { urlFor } from "../../lib/image";
import { getProject, getProjects } from "../../lib/sanity";
import Tag from "@components/Tag.astro";
import { urlBase } from "@lib/constants";

export async function getStaticPaths() {
  const projects = await getProjects();
  return projects.map((project) => ({
    params: { slug: project.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const {
  title,
  body,
  mainImage,
  gallery,
  date,
  category,
  technologies,
  repositoryUrl,
  url,
} = await getProject(slug);
---

<Layout title={title}>
  <div
    class="w-full aspect-video overflow-hidden backdrop-blur-md bg-slate-50 bg-opacity-20 shadow-md border-[1px] border-slate-50 rounded-md"
  >
    {
      mainImage && (
        <img
          src={urlFor(mainImage).url()}
          class="object-cover rounded-md"
          alt="Cover image"
        />
      )
    }
  </div>
  <div class="pt-4">
    <a href={`/${urlBase}`} class="text-blue-500 hover:underline">{"<-- Back to projects"}</a>
    <h1 class="text-3xl font-bold">{title}</h1>
    <span class="flex gap-2 my-2">
      <Tag text={category} class="text-sm p-1 bg-orange-500" />
      {
        technologies?.map((tech) => (
          <Tag text={tech} class="text-sm p-1 bg-cyan-600" />
        ))
      }
    </span>
    <PortableText value={body!} />
  </div>
</Layout>
